.portfolio-block .heading h2 {
  margin: 25px;
}

@media (min-width: 768px) {
  .portfolio-block .heading h2 {
  }
}

#final-submit {
}

@media (min-width: 768px) {
  #final-submit {
  }
}

#print-pdf-heading{
	margin-top:100px;
}

#text-area-margin{
	margin-bottom: 20px;
}